.checkbox-wrapper input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper *,
.checkbox-wrapper ::after,
.checkbox-wrapper ::before {
  box-sizing: border-box;
}

/* The switch - the box around the slider */
.checkbox-wrapper .switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.checkbox-wrapper .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.checkbox-wrapper .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #adb5bd;
  transition: 0.4s;
  border-radius: 30px;
}

.checkbox-wrapper .slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.27em;
  bottom: 0.25em;
  background-color: #adb5bd;
  transition: 0.4s;
}

.checkbox-wrapper input:checked + .slider {
  background-color: #007bff;
  border: 1px solid #007bff;
}

.checkbox-wrapper input:focus + .slider {
  box-shadow: 0 0 1px #007bff;
}

.checkbox-wrapper input:checked + .slider:before {
  transform: translateX(1.4em);
  background-color: #fff;
}
.checkbox-wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  margin: 0 auto;
}
.checkbox-wrapper p {
  color: #ffffff91;
}
.switch {
  scale: 0.75;
}
